{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="container dd_login">
            <h1 class=" mb-3 text-center text-dark font-weight-normal">Veuillez vous identifier</h1>
    <div class="row" >
        <div class="col-md-12">
            <label for="inputUsername">Pseudonyme</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
        <div>

        <div class="col-md-12">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

       <div class="col mt-3 ">
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">
    
            <button class="btn btn-lg " type="submit">
                S'identifier
            </button>
       </div>
    </div>   
</form>
</div>
{% endblock %}
