<!-- Mise en place de la barre de navigation du site -->
        
            <nav class="navbar navbar-expand-md navbar-light ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('home') }}"><svg id="lLogo" xmlns="http://www.w3.org/2000/svg" width="150" height="120" viewBox="0 0 220 198">
                    <text id="CADO" data-name="CADO" transform="translate(110 83)" fill="#fff" font-size="82" font-family="Impact" letter-spacing="0.057em"><tspan x="-45.859" y="0">CA</tspan><tspan x="-47.401" y="70">DO</tspan></text>
                    <text id="cuisinierà_domicile" data-name="cuisinier à domicile" transform="translate(0 170)" fill="#fff" font-size="23" font-family="Impact" letter-spacing="0.068em"><tspan x="0.986" y="23">cuisiniers à domicile</tspan></text></svg></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse " id="navbarNav">
                        <ul class="navbar-nav me-2">
                            <li class="nav-item">
                                <a class="nav-link  {% if app.request.attributes.get('_route') == '/home' %} active {% endif %}" aria-current="page" href="{{ path('home') }}">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  {% if app.request.attributes.get('_route') == '/menu' %} active {% endif %}" href="#">Menus</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Cuisiniers</a>
                            </li>
                            {# <li class="nav-item">
                                <a class="nav-link {% if app.request.attributes.get('_route') == '/product' %} active {% endif %}" href="{{ path('product_index') }}" >Réalisations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Réservation</a>
                            </li> #}
                            <li class="nav-item">
                                <a class="nav-link" href="">À propos</a>
                            </li>
                            <li class="nav-item dropdown">
                                {% if app.user %}
                                <a class="nav-link" href="{{ path('app_logout') }}" data-bs-toggle="modal" data-bs-target="#logoutModal">Se déconnecter</a>
                                {% else %}
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    S'identifier
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="">S'inscrire</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a></li>
                                </ul>                                
                                {% endif %}
                            </li>
                           
                            {% if app.user %}   
                            <li class="nav-item ">  
                                <span class="nav-link text-info dropdown-toggle" id="profilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Bonjour {{ app.user.firstname|capitalize }} !</span>
                                <ul class="dropdown-menu" aria-labelledby="profilDropdown">
                                    <li><a class="dropdown-item" href="">Modifier votre profil</a></li>
                                    <li><a class="dropdown-item" href="
				    {# {{ path('user_delete',{ id: app.user.id }) }} #}
				    " data-bs-toggle="modal" data-bs-target="#deleteProfilModal">Supprimer votre compte</a></li>
                                </ul>           
                            </li>
                            {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Mise en place d'un modal de confirmation de déconnexion -->
            <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="logoutModalLabel">Déconnexion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('app_logout') }}"><button type="button" class="btn btn-primary">Déconnexion</button></a>
                        </div>
                    </div>
                </div>
            </div>
    
    <!-- Mise en place d'un modal de confirmation de confirmation avant suppression du profil -->     {% if app.user %} 
            <div class="modal fade" id="deleteProfilModal" tabindex="-1" aria-labelledby="deleteProfilModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteProfilModalLabel">Supprimer le compte</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Êtes-vous sûr de vouloir supprimer votre compte ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="
			    {# {{ path('user_delete',{ id: app.user.id }) }} #}
			    "><button type="button" class="btn btn-primary">Supprimer</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
    