{% extends 'base.html.twig' %}
{% block title %}Menu du chef{% endblock %}

{% block body %}
<div class="tm-prod text-center">
	{% if menus %}
		<h1 class="text-center my-5">Les menus que propose {{ menus[0].chief.firstname }} {{ menus[0].chief.name }}</h1>
		{% for menu in menus %}	
			<div class="card dd_prod  d-inline-flex align-items-center text-white my-5 mx-3" >
				<div class="row g-0 ">					
					<div class="col-12 text-center">
						<div class="card-body">
							<h5 class="card-title">{{ menu.name }}</h5>
							<p class="card-text my-3">{{ menu.genre.genre }}</p>
							<p>{{ menu.price }} €</p>
							<a class="btn btn-success" href="{{ path('menu_show', {'id': menu.id}) }}">Détails du menu</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h1 class="text-center text-warning my-5">Ce chef ne propose pas encore de menu</h1>
	{% endif %}
	<span class="text-center d-block"><button class="btn btn-warning" onclick="history.back()">Retour</button></span>

</div>
{% endblock %}