{% extends 'base.html.twig' %}
{% block title %}Produits du chef{% endblock %}

{% block body %}
<div class="tm-prod text-center">
	{% if products %}
		<h1 class="text-center">Les produits que propose {{ products[0].chief.firstname }} {{ products[0].chief.name }}</h1>
		{% for product in products %}	
			<div class="card dd_prod  d-inline-flex align-items-center text-white my-5 mx-3" >
				<div class="row g-0 ">
					<div class="col-12 ">
						<img src="{{ product.photo }}" alt="{{ product.name }}" class="img-fluid w-75">
					</div>
					<div class="col-12 text-center">
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p class="card-text">{{ product.description }}</p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h1 class="text-center text-warning">Ce chef ne propose pas encore de produit</h1>
	{% endif %}
</div>
{% endblock %}
