{% extends 'base.html.twig' %}

{% block body %}
	<h1>Les produits que propose {{ products[0].chief.firstname }} {{ products[0].chief.name }}</h1>

	{% for product in products %}
		<h2>{{ product.name }}</h2>
		<p>{{ product.description }}</p>
		<img src="{{ product.photo }}" alt="{{ product.name }}">
	{% endfor %}


{% endblock %}