{% extends 'base.html.twig' %}
{% block title %}Mets du chef{% endblock %}

{% block body %}
<div class="tm-prod text-center">
	{% if products %}
		<h1 class="text-center my-5">Les mets que propose {{ products[0].chief.firstname }} {{ products[0].chief.name }}</h1>
		<span class="text-center d-block mb-2"><button class="btn btn-warning" onclick="history.back()">Retour</button></span>	
		{% for product in products %}	
			<div class="card dd_prod d-inline-flex align-items-center text-white my-5 mx-3" >
				<div class="row g-0 ">
					<div class="col-12 ">
						<img src="{{ product.photo }}" alt="{{ product.name }}" class="img-fluid w-75">
					</div>
					<div class="col-12 text-center">
						<div class="card-body">
							<h5 class="card-title my-2">{{ product.name }}</h5>
							<p class="card-text">{{ product.description }}</p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h1 class="text-center text-warning my-5">Ce chef ne propose pas encore de met</h1>
	{% endif %}
	<span class="text-center d-block mb-5"><button class="btn btn-warning" onclick="history.back()">Retour</button></span>
</div>
{% endblock %}