{% extends 'base.html.twig' %}

{% block title %}Liste des menus{% endblock %}

{% block body %}
    <h1>Tous les menus</h1>

    {% if is_granted('ROLE_CHEF') %}
    <a href="{{ path('menu_create', {'id': app.user.id}) }}">Create new</a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Genre</th>
                <th>Cuisinier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
            
                <td>{{ menu.name }}</td>
                <td>{{ menu.price }}</td>
                <td>{{ menu.genre.genre }}</td>
                <td>{{ menu.chief.firstname }} {{ menu.chief.name }}</td>

                <td>
                    <a href="{{ path('menu_show', {'id': menu.id}) }}">Détails</a>
                    {% if is_granted('ROLE_CHEF') and menu.chief.id == app.user.id  %}
                    <a href="{{ path('menu_edit', {'id': menu.id}) }}">Modifiez votre menu</a> 
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#  #}
{% endblock %}
