{% extends 'base.html.twig' %}

{% block title %}Liste des menus{% endblock %}

{% block body %}
<div class="container tm-menu_list">
    <h1 class="text-center my-5 text-warning">Tous les menus</h1>

    {% if is_granted('ROLE_CHEF') %}
    <p class="my-3 mb-3 text-center tm-button_create">
    <a class="btn btn-success" href="{{ path('menu_create', {'id': app.user.id}) }}">Créer un menu</a>
    </p>
    {% endif %}

    <table class="table dd_menu table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Genre</th>
                <th>Cuisinier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
            
                <td>{{ menu.name }}</td>
                <td>{{ menu.price }} €</td>
                <td>{{ menu.genre.genre }}</td>
                <td>{{ menu.chief.firstname }} {{ menu.chief.name }}</td>

                <td>
                    <a class="btn btn-success" href="{{ path('menu_show', {'id': menu.id}) }}">Détails du menu</a>
                    {% if is_granted('ROLE_CHEF') and menu.chief.id == app.user.id  %}
                    <a class="btn btn-warning ms-2 my-1" href="{{ path('menu_edit', {'id': menu.id}) }}">Modifiez votre menu</a> 
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
