{% extends 'base.html.twig' %}

{% block title %}Le menu {{ menu.name }}{% endblock %}

{% block body %}
<div class="tm-menu_detail">
    <h1>Le chef {{ menu.chief.firstname }} {{ menu.chief.name }} vous propose son menu {{ menu.name }} !</h1>

    
    <tr>
                <th>Price</th>
                <td>{{ menu.price }} € / menu</td>
            </tr>
    
    {% for product in menu.products %}
        
        <h3>{{ product.type.type }}</h3>
        <p>product: {{ product.name }}</p>
        <p>price: {{ product.description }}</p>
        <img src="{{ product.photo }}" alt="{{ product.name }}">
        
        

    {% endfor %}

    <p>Si le menu vous intéresse, veuillez contacter le cuisinier {{ menu.chief.firstname }} {{ menu.chief.name }} pour plus de détail directement par mail à : <b>{{ menu.chief.email }}</b></p>

    <button class="btn btn-warning" onclick="history.back()">Retour</button>

    {# <a href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a> #}


</div>
{% endblock %}
