{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <h1>Menu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Le chef</th>
                <td>{{ menu.chief.firstname }} {{ menu.chief.name }} </td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ menu.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ menu.price }}</td>
            </tr>
        </tbody>
    </table>

    {% for product in menu.products if product.type.id == 1 %}
    
        <p>product: {{ product.name }}</p>
        <p>price: {{ product.description }}</p>
        <img src="{{ product.photo }}" alt="{{ product.name }}">
    {% endfor %}

    <a href="{{ path('menu_list') }}">back to list</a>

    {# <a href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a> #}


{% endblock %}
