{% extends 'base.html.twig' %}
{% block title %}Les produits que vous proposez{% endblock %}
{% block body %}
<div class="tm-list_prod container">

	<h1 class="text-center my-5 text-warning">{% if products %}
	{{ app.user.firstname }} {{ app.user.name }}, vous proposez ces mets !
	{% else %}
	{{ app.user.firstname }} {{ app.user.name }}, vous n'avez pas encore soumis de mets.
	{% endif %}
	</h1>
	<p class="my-3 mb-3 text-center tm-button_create">
		<a href="{{ path('chef_new_product', { id: app.user.id })}}" class="btn btn-success">Créer un nouveau met</a>
	</p>


	<table class="table dd_menu table-striped">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Description</th>			
				<th>Photo</th>			
				<th>Type</th>			
				<th>Actions</th>			
			</tr>
		</thead>
		<tbody>
	{% for product in products %}
			<tr >
				<td>{{ product.name }}</td>
				<td>{{ product.description | slice(0,20) }} ...</td>
				<td>{{ product.photo|resizeList(product.name)|raw }}</td>
				<td>{{ product.type.type }}</td>
				<td>
				<a href="{{ path('chef_edit_product', {id: product.id}) }}" class="btn btn-info">Éditer ou supprimer</a>		
				</td>
			</tr>	
	{% endfor %}
		</tbody>
	</table>		
</div>
{% endblock %}
