{% extends 'base.html.twig' %}

{% block body %}

<div class="container dd_creat">
    <div class="row">
        <h1 class="">Modifier {{ product.name }}</h1>
    {{ form_start(form) }}
        <div class="col-12 my-3">
            {{ form_row(form.name, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-12 mb-3">
            {{ form_row(form.description, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-12 mb-3">
            {{ form_row(form.file, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="mb-5 tm-selec">
                {{ form_row(form.type, {'attr':{'class':'form-control'}}) }}
        </div>
        
            {{ form_row(form.submit) }}
        
        <a data-bs-toggle="modal" data-bs-target="#deleteProductModal" href="{{ path('chef_delete_product', {id: product.id}) }}" class="btn btn-danger mt-3 btn_delete">Supprimer</a>
        {{ form_end(form) }}
    </div>
</div>

<!-- Mise en place d'un modal de confirmation pour la suppression -->
            <div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
                <div class="modal-dialog dd_update">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteProductModalLabel">Suppression du produit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-white">
                            <p>Êtes-vous sûr de vouloir supprimer ce produit: {{ product.name }} ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('chef_delete_product', {id: product.id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
                        </div>
                    </div>
                </div>
            </div>	
{% endblock %}