{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <h1>Modifier le profil</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    <div class="row">
        <div class="{% if user.photo %}col-6{% else %}col-12{% endif %}">
    {{ form_row(form.file) }}
        </div>
        {% if user.photo %}
        <div class="col-6 text-center">
            <img src="{{ user.photo }}" alt="{{ user.name }}" style="height: 250px">
        </div>
        {% endif %}
    </div>

    {{ form_rest(form) }}

    <a href="{{ path('home') }}">Retour à la page d'accueil</a>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/register.js') }}"></script>
        {% endblock %}